@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("./assets/fonts/Arizonia-Regular.ttf");
    font-family: title;
}

@font-face {
    src: url("./assets/fonts/SourceSansPro-Regular.ttf");
    font-family: title2;
}

:root {
    --pdd: 40px;
}

body {
    /* background: var(--c3-bg); */
    background: #212430;
    background: linear-gradient(
        to right,
        #212430,
        #172b31 30%,
        #172b31 70%,
        #212430
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: var(--c3-txt);
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        --pdd: 30px;
    }
}

@media (max-width: 768px) {
    :root {
        --pdd: 20px;
    }
}

@media (max-width: 400px) {
    :root {
        --pdd: 10px;
    }
}

@media (max-width: 300px) {
    :root {
        --pdd: 5px;
    }
}

/* _____________ SCROLL _ STYLES ________________ */
.scroll-style {
    scroll-behavior: smooth;
}
.scroll-style::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

.scroll-style::-webkit-scrollbar-thumb {
    background: var(--c3);
    border-radius: 4px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
    background: var(--c3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-style::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
